@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Rajdhani', sans-serif;
    scroll-behavior: smooth;
    color: #06283D;
}

/* NAVBAR */
#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-block: 2em;
}

#navbar #nav-links {
    display: flex;
    gap: 2em;
}

#navbar #nav-links #nav-logo {
    font-family: 'Orbitron', sans-serif;
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0.3em;
    color: #0030B5;
    user-select: none;
    cursor: pointer;
    border-right: 1px solid grey;
    padding-right: 20px;
}

#navbar #nav-links a {
    font-size: 20px;
    font-weight: 500;
    animation-name: nav-links;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes nav-links {
    from {margin-left: -50px; opacity: 0;}
    to {margin-right: 0px; opacity: 1;}
}

#navbar #nav-links #rangkaian:hover {
    font-weight: 600;
    border-bottom: 2px solid #1363DF;
}
#navbar #nav-links #timeline:hover {
    font-weight: 600;
    border-bottom: 2px solid #1363DF;
}
#navbar #nav-links #registrasi:hover {
    font-weight: 600;
    border-bottom: 2px solid #1363DF;
}

#navbar #nav-btn #contact-us {
    background-color: #1363DF;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.1em;
}

#navbar #nav-btn #contact-us:hover {
    box-shadow: 3px 3px 10px grey;
}

/* CAROUSEL */
#carousel-imgs {
    animation-name: carousel;
    animation-duration: 1s;
    animation-timing-function: ease;
}

@keyframes carousel {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* SERIES */
#series-sec #series {
    margin-block: 7em;
    padding-inline: 5em;
}

#series-sec .row {
    display: flex;
    gap: 3em;
}

#series-sec .card {
    box-shadow: 0px 20px 30px grey;
}

#series-sec img {
    max-height: 300px;
}

#series-sec h5 {
    font-size: 28px;
    font-weight: 600;
}

#series-sec p {
    font-size: 20px;
    padding-inline: 1em;
    font-weight: 500;
}

/* TIMELINE */
#timeline-sec .container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-bottom: 7em;
}

#timeline-sec button {
    border-color: #1363DF;
    color: #1363DF;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .1em;
}

#timeline-sec i {
    color: #1363DF;
}

#timeline-sec a {
    font-size: 18px;
}

#timeline-sec #vc, #te {
    font-weight: 500;
}

#timeline-sec #vc:hover, #te:hover {
    background-color: #1363DF;
    color: #FFFFFF;
}

#timeline-sec #timeline-table {
    border-top: 2px solid #06283D;
    padding-top: 1em;
}

#timeline-sec #timeline-table th {
    font-size: 28px;
    letter-spacing: .1em;
    text-align: center;
    background-color: #1363DF;
    color: #FFFFFF;
}

#timeline-sec #timeline-table tr {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}
/* REGISTRATION */
#regis-sec {
    background-color: #06283D;
    box-shadow: 0px -10px 30px grey;
    padding-block: 2em;
}

#regis-sec .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5em;
}

#regis-sec #regis-desc {
    display: flex;
    flex-direction: column;
    gap: .5em;
}

#regis-sec #regis-desc h1 {
    color: #FFFFFF;
}

#regis-sec #regis-desc p {
    color: #FFFFFF;
}

#regis-sec #regis-desc h1 {
    font-size: 64px;
    font-weight: 900;
    letter-spacing: .1em;
}

#regis-sec #regis-desc p {
    font-size: 28px;
}

#regis-sec #regis-form form {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

#regis-sec #regis-form form label {
    display: flex;
    gap: .5em;
    font-weight: 500;
}

#regis-sec #regis-form form label i {
    font-size: 20px;
}

#regis-sec #regis-form form button {
    background-color: #DFF6FF;
    color: #06283D;
    font-size: 20px;
    font-weight: 900;
    letter-spacing: .1em;
    margin-top: .5em;
    letter-spacing: .2em;
}

#regis-sec #regis-form form button:hover {
    box-shadow: 3px 3px 10px grey;
}

#regis-sec #regis-form .invalid-feedback {
    color: tomato;
}

#regis-sec #regis-form .valid-feedback {
    color: lightgreen;
}

/* CREDIT */
#credit {
    border: 1px solid #1363DF;
    background-color: #1363DF;
    padding-top: .5em;
    height: 2.5em;
}
#credit p {
    text-align: center;
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Courier New';
}

@media only screen and (max-width: 768px) {
    #navbar #nav-links a {
        font-size: 0;
    }
    #navbar #nav-links #nav-logo {
        border-right: none;
    }
}
